<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>260173560356-4aeenf9n40ma5lfrva9fopof3236338q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.260173560356-4aeenf9n40ma5lfrva9fopof3236338q</string>
	<key>API_KEY</key>
	<string>AIzaSyDI3XNfDdHV3R4cu879kCGNEC27IxnfC6M</string>
	<key>GCM_SENDER_ID</key>
	<string>260173560356</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.fatah.Flash-Chat-iOS13</string>
	<key>PROJECT_ID</key>
	<string>flashchat-fa470</string>
	<key>STORAGE_BUCKET</key>
	<string>flashchat-fa470.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:260173560356:ios:bf3588b3ace00105acb6b1</string>
</dict>
</plist>